## Let us list user name

In [1]:
users = [
{ "id": 0, "name": "Hero" },
{ "id": 1, "name": "Dunn" },
{ "id": 2, "name": "Sue" },
{ "id": 3, "name": "Chi" },
{ "id": 4, "name": "Thor" },
{ "id": 5, "name": "Clive" },
{ "id": 6, "name": "Hicks" },
{ "id": 7, "name": "Devin" },
{ "id": 8, "name": "Kate" },
{ "id": 9, "name": "Klein" }
]

## Let us list Friendship Pair

In [2]:
friendship_pairs = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
(4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

## Your job is to find friend conntector

In [4]:
users

[{'id': 0, 'name': 'Hero'},
 {'id': 1, 'name': 'Dunn'},
 {'id': 2, 'name': 'Sue'},
 {'id': 3, 'name': 'Chi'},
 {'id': 4, 'name': 'Thor'},
 {'id': 5, 'name': 'Clive'},
 {'id': 6, 'name': 'Hicks'},
 {'id': 7, 'name': 'Devin'},
 {'id': 8, 'name': 'Kate'},
 {'id': 9, 'name': 'Klein'}]

In [6]:
friendship_pairs

[(0, 1),
 (0, 2),
 (1, 2),
 (1, 3),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (5, 7),
 (6, 8),
 (7, 8),
 (8, 9)]

In [3]:
## Initialize tge dic with empty list for user id:

friendships = {user["id"]:[] for user in users}

In [7]:
## Loop over friendship pair to populate it:

for i , j in friendship_pairs:
    friendships[i].append(j) ## Add J as friend of user i
    friendships[j].append(i) ## Add i as friend of user J

In [8]:
friendships

{0: [1, 2],
 1: [0, 2, 3],
 2: [0, 1, 3],
 3: [1, 2, 4],
 4: [3, 5],
 5: [4, 6, 7],
 6: [5, 8],
 7: [5, 8],
 8: [6, 7, 9],
 9: [8]}

 we find the total number of connections, by summing up the lengths of all the
friends lists:

In [9]:
def number_of_friends(user):
    " How many friends does user has"
    user_id = user["id"]
    friend_ids = friendships[user_id]
    
    return len(friend_ids)

In [10]:
total_connections = sum(number_of_friends(user) for user in users)

In [11]:
total_connections

24

In [12]:
num_users = len(users)

In [13]:
num_users

10

In [14]:
average_connections = total_connections/num_users
average_connections

2.4

## Let us sort by Most Friends to Least Friends

In [15]:
## Create a list(user_id, no_of_friends)

num_friends_by_id = [(user["id"],number_of_friends(user)) for user in users]
num_friends_by_id

[(0, 2),
 (1, 3),
 (2, 3),
 (3, 3),
 (4, 2),
 (5, 3),
 (6, 2),
 (7, 2),
 (8, 3),
 (9, 1)]

In [16]:
num_friends_by_id.sort(key=lambda id_and_friends: id_and_friends[1],
                      reverse=True)

In [17]:
num_friends_by_id

[(1, 3),
 (2, 3),
 (3, 3),
 (5, 3),
 (8, 3),
 (0, 2),
 (4, 2),
 (6, 2),
 (7, 2),
 (9, 1)]

### Further , Check friend's friend you might know like fb insta

In [18]:
def foaf_ids_bad(user):
    return [foaf_id
           for friend_id in friendships[user["id"]]
           for foaf_id in friendships[friend_id]]

In [20]:
foaf_ids_bad(users[0])

[0, 2, 3, 0, 1, 3]

In [25]:
friendships

{0: [1, 2],
 1: [0, 2, 3],
 2: [0, 1, 3],
 3: [1, 2, 4],
 4: [3, 5],
 5: [4, 6, 7],
 6: [5, 8],
 7: [5, 8],
 8: [6, 7, 9],
 9: [8]}

In [26]:
print(friendships[0])

[1, 2]

In [27]:
print(friendships[1])

[0, 2, 3]

In [28]:
print(friendships[2])

[0, 1, 3]

Knowing that people are friends of friends in multiple ways seems like interesting
information, so maybe instead we should produce a count of mutual friends. And we
should probably exclude people already known to the user:

In [29]:
from collections import Counter

In [30]:
def friends_of_friends(user):
    user_id = user["id"]
    return Counter(
    foaf_id
        for friend_id in friendships[user_id]
        for foaf_id in friendships[friend_id]
        if foaf_id != user_id
        and foaf_id not in friendships[user_id]
    )

In [32]:
print(friends_of_friends(users[3]))

Counter({0: 2, 5: 1})

In [33]:
interests = [
(0, "Hadoop"), (0, "Big Data"), (0, "HBase"), (0, "Java"),
(0, "Spark"), (0, "Storm"), (0, "Cassandra"),
(1, "NoSQL"), (1, "MongoDB"), (1, "Cassandra"), (1, "HBase"),
(1, "Postgres"), (2, "Python"), (2, "scikit-learn"), (2, "scipy"),
(2, "numpy"), (2, "statsmodels"), (2, "pandas"), (3, "R"), (3, "Python"),
(3, "statistics"), (3, "regression"), (3, "probability"),
(4, "machine learning"), (4, "regression"), (4, "decision trees"),
(4, "libsvm"), (5, "Python"), (5, "R"), (5, "Java"), (5, "C++"),
(5, "Haskell"), (5, "programming languages"), (6, "statistics"),
(6, "probability"), (6, "mathematics"), (6, "theory"),
(7, "machine learning"), (7, "scikit-learn"), (7, "Mahout"),
(7, "neural networks"), (8, "neural networks"), (8, "deep learning"),
(8, "Big Data"), (8, "artificial intelligence"), (9, "Hadoop"),
(9, "Java"), (9, "MapReduce"), (9, "Big Data")
]

In [34]:
interests

[(0, 'Hadoop'),
 (0, 'Big Data'),
 (0, 'HBase'),
 (0, 'Java'),
 (0, 'Spark'),
 (0, 'Storm'),
 (0, 'Cassandra'),
 (1, 'NoSQL'),
 (1, 'MongoDB'),
 (1, 'Cassandra'),
 (1, 'HBase'),
 (1, 'Postgres'),
 (2, 'Python'),
 (2, 'scikit-learn'),
 (2, 'scipy'),
 (2, 'numpy'),
 (2, 'statsmodels'),
 (2, 'pandas'),
 (3, 'R'),
 (3, 'Python'),
 (3, 'statistics'),
 (3, 'regression'),
 (3, 'probability'),
 (4, 'machine learning'),
 (4, 'regression'),
 (4, 'decision trees'),
 (4, 'libsvm'),
 (5, 'Python'),
 (5, 'R'),
 (5, 'Java'),
 (5, 'C++'),
 (5, 'Haskell'),
 (5, 'programming languages'),
 (6, 'statistics'),
 (6, 'probability'),
 (6, 'mathematics'),
 (6, 'theory'),
 (7, 'machine learning'),
 (7, 'scikit-learn'),
 (7, 'Mahout'),
 (7, 'neural networks'),
 (8, 'neural networks'),
 (8, 'deep learning'),
 (8, 'Big Data'),
 (8, 'artificial intelligence'),
 (9, 'Hadoop'),
 (9, 'Java'),
 (9, 'MapReduce'),
 (9, 'Big Data')]

## Create function with similar interest

In [35]:
def data_scientists_who_like(target_interest):
    """ Find IDS of all interests who like target interest"""
    
    return [user_id
           for user_id,user_interest in interests
           if user_interest==target_interest]

In [36]:
from collections import defaultdict

In [40]:
## Keys are interests , values are list of user_ids with that interest

user_ids_by_interests = defaultdict(list)

In [41]:
user_ids_by_interests

defaultdict(list, {})

In [42]:
for user_id, interest in interests:
    user_ids_by_interests[interest].append(user_id)

In [43]:
user_ids_by_interests

defaultdict(list,
            {'Hadoop': [0, 9],
             'Big Data': [0, 8, 9],
             'HBase': [0, 1],
             'Java': [0, 5, 9],
             'Spark': [0],
             'Storm': [0],
             'Cassandra': [0, 1],
             'NoSQL': [1],
             'MongoDB': [1],
             'Postgres': [1],
             'Python': [2, 3, 5],
             'scikit-learn': [2, 7],
             'scipy': [2],
             'numpy': [2],
             'statsmodels': [2],
             'pandas': [2],
             'R': [3, 5],
             'statistics': [3, 6],
             'regression': [3, 4],
             'probability': [3, 6],
             'machine learning': [4, 7],
             'decision trees': [4],
             'libsvm': [4],
             'C++': [5],
             'Haskell': [5],
             'programming languages': [5],
             'mathematics': [6],
             'theory': [6],
             'Mahout': [7],
             'neural networks': [7, 8],
             'deep learning': [8],
             'artificial intelligence': [8],
             'MapReduce': [9]})

In [44]:
## Keys are user_ids and values are list of interests for that user ids
interests_by_user_id = defaultdict(list)

for user_id,interest in interests:
    interests_by_user_id[user_id].append(interest)

In [45]:
interests_by_user_id

defaultdict(list,
            {0: ['Hadoop',
              'Big Data',
              'HBase',
              'Java',
              'Spark',
              'Storm',
              'Cassandra'],
             1: ['NoSQL', 'MongoDB', 'Cassandra', 'HBase', 'Postgres'],
             2: ['Python',
              'scikit-learn',
              'scipy',
              'numpy',
              'statsmodels',
              'pandas'],
             3: ['R', 'Python', 'statistics', 'regression', 'probability'],
             4: ['machine learning', 'regression', 'decision trees', 'libsvm'],
             5: ['Python',
              'R',
              'Java',
              'C++',
              'Haskell',
              'programming languages'],
             6: ['statistics', 'probability', 'mathematics', 'theory'],
             7: ['machine learning',
              'scikit-learn',
              'Mahout',
              'neural networks'],
             8: ['neural networks',
              'deep learning',
              'Big Data',
              'artificial intelligence'],
             9: ['Hadoop', 'Java', 'MapReduce', 'Big Data']})

Now it’s easy to find who has the most interests in common with a given user:

In [46]:
def most_common_interests_with(user):
    return Counter(
    interests_by_user_id
        for interest in interests_by_user_id[user["id"]]
        for interests_by_user_id in user_ids_by_interests[interest]
        if interests_by_user_id != user["id"]
    )

## Data Scientist Salary and Experience

In [49]:
salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
                        (48000, 0.7), (76000, 6),
                        (69000, 6.5), (76000, 7.5),
                        (60000, 2.5), (83000, 10),
                        (48000, 1.9), (63000, 4.2)]

In [69]:
salaries_and_tenures

[(83000, 8.7),
 (88000, 8.1),
 (48000, 0.7),
 (76000, 6),
 (69000, 6.5),
 (76000, 7.5),
 (60000, 2.5),
 (83000, 10),
 (48000, 1.9),
 (63000, 4.2)]

In [52]:
import matplotlib.pyplot as plt

In [70]:
## Keys are Years, values are lsit of salary for each Tenure

salary_by_tenure = defaultdict(list)


for salary,tenure in salaries_and_tenures:
    salary_by_tenure[tenure].append(salary)

In [71]:
salary_by_tenure

defaultdict(list,
            {8.7: [83000],
             8.1: [88000],
             0.7: [48000],
             6: [76000],
             6.5: [69000],
             7.5: [76000],
             2.5: [60000],
             10: [83000],
             1.9: [48000],
             4.2: [63000]})

In [72]:
## Keys are years, each value is average salary for that Tenure

average_salary_by_tenure = {
    tenure:sum(salaries) /len(salaries)
    for tenure,salaries in salary_by_tenure.items()
}

In [73]:
average_salary_by_tenure

{8.7: 83000.0,
 8.1: 88000.0,
 0.7: 48000.0,
 6: 76000.0,
 6.5: 69000.0,
 7.5: 76000.0,
 2.5: 60000.0,
 10: 83000.0,
 1.9: 48000.0,
 4.2: 63000.0}

In [66]:
def tenure_bucket(tenure):
    if tenure <2:
        return "Less Than Two"
    elif tenure <5:
        return "Between two and Five"
    else:
        return "More than Five"

## Now, we can group salary corrosponding to each bucket

In [74]:
## Keys are Tenure buckets and value are list of salaries for that buckets

salary_by_tenure_bucket = defaultdict(list)

for salary,tenure in salaries_and_tenures:
    bucket = tenure_bucket(tenure)
    salary_by_tenure_bucket[bucket].append(salary)

In [75]:
salary_by_tenure_bucket

defaultdict(list,
            {'More than Five': [83000, 88000, 76000, 69000, 76000, 83000],
             'Less Than Two': [48000, 48000],
             'Between two and Five': [60000, 63000]})

## Finally Compute Average Salary for each Group

In [76]:
## Keys are Tenure buckets and values are average salary for that bucket

average_salary_by_bucket = {
    tenure_bucket: sum(salaries)/len(salaries)
    for tenure_bucket, salaries in salary_by_tenure_bucket.items()
    
}

In [77]:
average_salary_by_bucket

{'More than Five': 79166.66666666667,
 'Less Than Two': 48000.0,
 'Between two and Five': 61500.0}